<!-- <ion-header>
  <ion-navbar>
    <ion-title>
      Casas
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="royal" (click) = "clickFavo()">
        <ion-icon name="heart"></ion-icon>
      </button>
  </ion-navbar>
</ion-header> -->

<ion-header >
  <ion-toolbar >
    <ion-title >Casas</ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="royal" (click) = "clickFavo()">
        <ion-icon name="heart"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content padding style = "background-color: #646E68">
  <!-- <ion-list>
    <ion-item-sliding *ngFor = "let c of casa">
      <ion-item (click)="clickCasa(c)">
        <ion-avatar item-start>
          <img [src] = c.imagen>
        </ion-avatar>
        <h2>{{c.nombre}}</h2>
        <h4>{{c.precio}}</h4>
        <h2>{{c.ubicacion}}</h2>
      </ion-item>        
    </ion-item-sliding>
  </ion-list> -->

  <ion-card  *ngFor = "let c of casa">
      <ion-item (click)="clickCasa(c)">
    <img [src] = c.imagen>
    <ion-card-header>
      {{c.nombre}}
    </ion-card-header>
    <ion-card-content>
      <h4>{{c.precio}}</h4>
      <h2>{{c.ubicacion}}</h2>
    </ion-card-content>
  </ion-item> 
  </ion-card>
</ion-content>
